.card{
    margin: 10px;
    width: 300px;
    height: 200px;   
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.card .icon{
    padding: 10px;
    border-radius: 10px;
    background-color: #119da42f;
}
.card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.card .content .title{
    font-weight: bold;
    color: #333333;
}
.card .content .description{
    color: #666666;

}